@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-slate-800 bg-slate-50;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}